<div class="row">
    <div class="col-lg-12 chat-box">

    </div>
</div>

{{#section 'script'}}
<script src="/vendor/socket/socket.io.js"></script>

<script>
    class ContainerChat {
        constructor(el) {
            el.innerHTML = `
            <div class="container-chat">
                <div class="container-chat__message"></div>

                <div class="container-chat__status"></div>

                <div class="input-group mb-3 container-chat__sender">
                    <input type="text" class="form-control input-message" placeholder="сообщение..."
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary send-message-btn" type="button" id="button-addon2">отправить</button>
                    </div>
                </div>
            </div>
            `;
            el.addEventListener('click', this.onClick.bind(this));

            this.messagePanel = el.querySelector('.container-chat__message');
            this.inputMessage = el.querySelector('.input-message');
            this.status = el.querySelector('.container-chat__status');

            this.isConnectToServer = false;
        }

        publishMessage(message) {
            this.messagePanel.insertAdjacentHTML('beforeend', `<div class="container-chat__message-item">${message}</div>`);
        }

        onSendMessageBtn(event, cls) {
            let elementAction = event.target.closest(cls);

            if (!elementAction) {
                return;
            }

            if(!this.isConnectToServer) return this.onDisconnect('Потеряно соединение');

            this.onSend(this.inputMessage.value);
        }

        onSend(message) {}
        onDisconnect(message) {}

        onClick(event) {
            [
                '.send-message-btn',
            ].forEach(e => {
                this._strategyOnClick(event, e);
            });
        }

        start(){
            this.isConnectToServer = true;
        }

        stop(){
            this.isConnectToServer = false;
        }

        setStatus(text) {
            this.status.innerHTML = text;
            this.status.style.opacity = 1;

            setTimeout(() => {
                this.status.style.opacity = 0;
            }, 3000);
        }

        _strategyOnClick(event, cls) {
            function upperFirstCharacterInWord(word) {
                return word[0].toUpperCase() + word.slice(1);
            }

            function camelize(str) {
                let words = str.split(/-/);
                return words
                    .map(upperFirstCharacterInWord)
                    .join("");
            }

            let method = 'on' + camelize(cls.replace(".", ""));

            if (this[method]) {
                this[method](event, cls);
            }

        }
    }

    const containerChat = new ContainerChat(document.querySelector('.chat-box'));

    var socket = io({
        reconnectionDelay: 0.5
    });

    containerChat.onSend = (message) => {
        socket.emit('message', message, (data) => {
            containerChat.publishMessage(`я: ${data}`);
        });
    }

    containerChat.onDisconnect = message => {
        Message.info(message);
    };

    socket
        .on('connect', () => {
            containerChat.setStatus('подключено...');
            containerChat.start();
        })
        .on('disconnect', () => {
            containerChat.setStatus('переподключение...');
            containerChat.stop();
        })
        .on('join', user => {
            containerChat.setStatus(`К чату подключился <strong>${user}</strong>`)
        })
        .on('leave', user => {
            containerChat.setStatus(`Пользователь <strong>${user}</strong> отключился`)
        })
        .on('logout', () => {
            location.href = '/';
        })
        .on('message', (user, data) => {
            containerChat.publishMessage(`${user}: ${data}`);
        });

</script>
{{/section}}