<div class="row">
    <div class="offset-3 col-lg-6">
        <form name='login-form'>
            <div class="form-group">
                <label for="user-name">Имя</label>
                <input type="text" class="form-control" name="name" aria-describedby="nameHelp">
                <small id="nameHelp" class="form-text text-muted">введите имя</small>
            </div>

            <div class="form-group">
                <label for="user-password">Пароль</label>
                <input type="password" class="form-control" name="password" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">введите пароль</small>
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>

{{#section 'script'}}
<script>
    window.addEventListener('load', (event) => {
        let form = document.forms['login-form'];

        form.addEventListener('submit', (event) => {
            let formData = new FormData(form);

            let body = {};

            for (let [name, value] of formData) {
                body[name] = value;
            }

            axios.post('/auth', body)
                .then(res => {
                    Message.success('Успех');
                    setTimeout(() => {
                        window.location.href = '/chat';
                    }, 500);
                })
                .catch(err => {
                    Message.warning(err.message);
                });
                
            event.preventDefault();
        });
    });
</script>
{{/section}}